<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
</head>
<body>
<script type="text/javascript" th:src="@{/js/jquery-min-3.3.1.js}"></script>
<script type="text/javascript" th:src="@{/js/moment-with-locales.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

<th:block th:replace="fragments/header :: header"/>
<div class="container" id="main-page">
  <th:block layout:fragment="content"/>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>