<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<head>
  <title>Account Manager</title>
  <style>
    .no-border {
      border: 0;
    }
  </style>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
  <div id="container">
    <br/>
    <div class="accordion" id="accordionAccounts">
      <th:block th:each="user : ${usersData}" th:remove="tag">
        <div class="card no-border" th:with="id_index=${userStat.index},heading_name=${'account_heading_' + userStat.index},collapse_name=${'collapse_' + userStat.index}">
          <div class="card-header" th:id="${heading_name}">
            <label class="d-inline-block col-form-label col-form-label-lg" th:text="${user.getUsername()}"></label>
            <button class="btn btn-link d-inline-block float-right my-1"
                    data-toggle="collapse"
                    th:data-target="${'#' + collapse_name}"
                    aria-expanded="false"
                    th:aria-controls="${collapse_name}">
              <i class="fa fa-cog fa-fw fa-lg" aria-hidden="true"></i>
            </button>
          </div>
          <div th:id="${collapse_name}"
               class="collapse"
               th:classappend="${user.getUsername().equalsIgnoreCase(param.view)}?show"
               data-parent="#accordionAccounts"
               th:aria-labelledby="${heading_name}"
               th:username="${user.getUsername()}"
               th:useridx="${id_index}">
            <div class="card-body" th:with="has_tokens=${!user.getTokens().isEmpty()}">
              <form>
                <div class="form-group row" th:with="input_username=${'input_username_' + id_index}">
                  <label th:for="${input_username}" class="col-sm-2 col-form-label">Username</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" th:id="${input_username}" th:value="${user.getUsername()}" readonly>
                  </div>
                </div>
                <div class="form-group row" th:with="input_new_password=${'input_new_password_' + id_index}">
                  <label th:for="${input_new_password}" class="col-sm-2 col-form-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" th:id="${input_new_password}">
                  </div>
                </div>
                <div class="form-group row" th:with="input_new_password_confirm=${'input_new_password_confirm_' + id_index}">
                  <label th:for="${input_new_password_confirm}" class="col-sm-2 col-form-label">Confirm Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" th:id="${input_new_password_confirm}">
                  </div>
                </div>
                <div class="form-group row" th:with="input_groups=${'input_groups_' + id_index}">
                  <label th:for="${input_groups}" class="col-sm-2 col-form-label">Groups</label>
                  <div class="col-sm-10">
                    <select multiple class="form-control" th:id="${input_groups}">
                      <th:block th:each="grp : ${authGroups}">
                        <option th:value="${grp.ordinal()}"
                                th:text="${grp.getName()}"
                                th:with="default_in_group=${user.getGroups().contains(grp)}"
                                th:default_selected="${default_in_group}"
                                th:attrappend="selected=${default_in_group}?selected"></option>
                      </th:block>
                    </select>
                  </div>
                </div>
                <div class="form-group row" th:with="input_tokens=${'input_tokens_' + id_index}" th:if="${has_tokens}">
                  <label th:for="${input_tokens}" class="col-sm-2 col-form-label">Tokens</label>
                  <div class="col-sm-10">
                    <select multiple class="form-control" th:id="${input_tokens}">
                      <option value="0" selected="selected">NONE</option>
                      <optgroup label="ACTIVE">
                        <th:block th:each="token : ${user.getTokens()}" th:remove="tag">
                          <option th:value="${token.getToken()}" th:text="${token.getToken() + '@' + token.getAddress().getHostAddress()}"></option>
                        </th:block>
                      </optgroup>
                    </select>
                  </div>
                </div>
                <div class="form-group row justify-content-end">
                  <button type="button" class="btn btn-lg btn-primary mx-1"
                          th:username="${user.getUsername()}"
                          th:useridx="${id_index}"
                          th:usertokens="${has_tokens}"
                          onclick="submit_changes(this,this.getAttribute('username'),this.getAttribute('useridx'),this.getAttribute('usertokens'));">Submit</button>
                  <button type="button" class="btn btn-lg btn-warning mx-1"
                          th:username="${user.getUsername()}"
                          th:useridx="${id_index}"
                          onclick="disable_user(this,this.getAttribute('username'),this.getAttribute('useridx'));">Disable</button>
                  <button type="button" class="btn btn-lg btn-danger mx-1"
                          th:username="${user.getUsername()}"
                          th:useridx="${id_index}"
                          onclick="delete_user(this,this.getAttribute('username'),this.getAttribute('useridx'));">Delete</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </th:block>
      <div class="card no-border">
        <div class="card-header" id="new_user_heading">
          <label class="d-inline-block mb-0 col-form-label col-form-label-lg">Create Account</label>
          <button class="btn btn-link d-inline-block float-right my-1"
                  data-toggle="collapse"
                  data-target="#new_user_collapse"
                  aria-expanded="false"
                  aria-controls="new_user_collapse">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
          </button>
        </div>
        <div id="new_user_collapse"
             class="collapse"
             data-parent="#accordionAccounts"
             aria-labelledby="new_user_heading">
          <div class="card-body">
            <div class="form-group row">
              <label for="input_new_user_username" class="col-sm-2 col-form-label">Username</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="input_new_user_username">
              </div>
            </div>
            <div class="form-group row">
              <label for="input_new_user_password" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="input_new_user_password">
              </div>
            </div>
            <div class="form-group row">
              <label for="input_new_user_password_confirm" class="col-sm-2 col-form-label">Confirm Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="input_new_user_password_confirm">
              </div>
            </div>
            <div class="form-group row">
              <label for="input_new_user_groups" class="col-sm-2 col-form-label">Groups</label>
              <div class="col-sm-10">
                <select multiple class="form-control" id="input_new_user_groups">
                  <th:block th:each="grp : ${authGroups}">
                    <option th:value="${grp.ordinal()}"
                            th:text="${grp.getName()}"
                            th:attrappend="selected=${grp.getName().equalsIgnoreCase('DEV')}?selected"></option>
                  </th:block>
                </select>
              </div>
            </div>
            <div class="form-group row justify-content-end">
              <button type="button" class="btn btn-lg btn-primary mx-1" onclick="">Create</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div layout:fragment="scripts" th:remove="tag">
  <script>
    $(function() {
      // find all collapsing divs and add two events to them
      $("[id*='collapse_']").each(function() {
        const o = $(this);
        const username = o.attr('username');

        o.on('show.bs.collapse', function() {
          const url = new URL(location.href);
          url.searchParams.set('view', username);
          window.history.pushState({}, null, url.href);
        });

        o.on('hide.bs.collapse', function() {
          const url = new URL(location.href);
          if(url.searchParams.get('view') === username) {
            url.searchParams.delete('view');
            window.history.pushState({}, null, url.href);
          }
        });
      });
    });

    function submit_changes(o, username, index, tokens) {
      console.log('submit', o, username, index, tokens);
    }

    function disable_user(o, username, index) {
      console.log('disable_user', o, username, index);
    }

    function delete_user(o, username, index) {
      console.log('delete_user', o, username, index);
    }

    function _reloadPage(result) {
      location.reload(false);
    }

    async function _setUserEnabled(checked, username) {
      try {
        return await $.ajax({
          type: 'GET',
          url: `user/set/enabled/${username}`,
          data: {
            enabled: checked,
          }
        });
      } catch (e) {
        console.error(e);
      }
    }

    function setUserEnabled(checkbox, username) {
      _setUserEnabled(checkbox.checked, username).then(_reloadPage);
    }

    async function _expireSingleToken(token) {
      try {
        return await $.ajax({
          type: 'GET',
          url: `user/tokens/expire/${token}`
        });
      } catch (e) {
        console.error(e);
      }
    }

    function expireSingleToken(token) {
      _expireSingleToken(token).then(_reloadPage);
    }

    async function _expireTokens(username) {
      try {
        return await $.ajax({
          type: 'GET',
          url: `user/tokens/user/${username}/expire`
        });
      } catch (e) {
        console.error(e);
      }
    }

    function expireTokens(username) {
      _expireTokens(username).then(_reloadPage);
    }

    async function _unregister(username) {
      try {
        return await $.ajax({
          type: 'GET',
          url: `user/unregister/${username}`
        });
      } catch (e) {
        console.error(e);
      }
    }

    function unregister(username) {
      _unregister(username).then(_reloadPage);
    }

    async function _register(data) {
      return await $.ajax({
        type: 'POST',
        url: 'user/register',
        data: JSON.stringify(data),
        contentType: 'application/json',
      });
    }

    function register() {
      _register({
        username: $('#usernameInput').val(),
        password: $('#passwordInput').val(),
        groups: $('#groupsInput').val(),
        enabled: $('#enabledInput').prop('checked'),
      }).then(result => {
        if (result !== undefined) {
          location.reload(false);
        }
      }).catch(err => {
        let msg = 'Failed to register user';
        if (err.responseJSON !== undefined) {
          msg = err.responseJSON.message;
        }
        $('#registerStatus').append(
            $('<div/>')
            .addClass('alert alert-danger')
            .text(msg)
        );
        console.error(err);
      })
    }
  </script>
</div>
</body>

</html>
