<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<head>
  <title>Account Manager</title>
  <style>
  </style>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
  <div id="container">
    <div class="mt-3"></div>
    <div id="success-panel" class="collapse">
      <div class="form-group row justify-content-center">
        <div class="alert alert-success">
          <i class="fa fa-check mt-2 mr-1" aria-hidden="true"></i>
          <label class="mt-2" id="success-message"></label>
        </div>
      </div>
    </div>
    <div id="error-panel" class="collapse">
      <div class="form-group row justify-content-center">
        <div class="alert alert-danger">
          <i class="fa fa-exclamation-triangle mt-2 mr-1" aria-hidden="true"></i>
          <label class="mt-2" id="error-message"></label>
        </div>
      </div>
    </div>
    <div class="input-group mb-3"
         th:if="${!user.getUsername().equalsIgnoreCase(accessUser.getUsername())
         && user.getLevel() >= accessUser.getLevel()}">
      <div class="input-group-prepend">
        <span class="input-group-text" id="verify-pw-descriptor"
              th:text="${'Password for ' + user.getUsername()}"></span>
      </div>
      <input type="password" class="form-control" placeholder="Password"
             aria-label="Username" aria-describedby="verify-pw-descriptor" id="current_password">
    </div>
    <div class="accordion" id="accordion_edit">
      <div class="card">
        <div class="card-header" id="heading_password">
          <label class="col-form-label col-form-label-lg mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse"
                    data-target="#collapse_password"
                    aria-expanded="true" aria-controls="collapse_password">
              Change Password
            </button>
          </label>
        </div>
        <div id="collapse_password" class="collapse" data-parent="#accordion_edit"
             th:with="view_name='password'"
             th:data="${view_name}"
             th:classappend="${param.edit != null && param.edit.contains(view_name)}?show"
             aria-labelledby="heading_password">
          <div class="card-body">
            <form>
              <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="password"
                         placeholder="New Password">
                </div>
              </div>
              <div class="form-group row">
                <label for="confirm_password" class="col-sm-2 col-form-label">Confirm
                  Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="confirm_password"
                         placeholder="Confirm New Password">
                </div>
              </div>
              <div class="form-group row justify-content-end">
                <button type="button" class="btn btn-outline-primary mr-3"
                        onclick="onPasswordChangeSubmit(this)">Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading_level">
          <label class="col-form-label col-form-label-lg mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse"
                    data-target="#collapse_level"
                    aria-expanded="true" aria-controls="collapse_level">
              Change Group/Level
            </button>
          </label>
        </div>
        <div id="collapse_level" class="collapse" data-parent="#accordion_edit"
             th:with="view_name='level'"
             th:data="${view_name}"
             th:classappend="${param.edit != null && param.edit.contains(view_name)}?show"
             aria-labelledby="heading_level">
          <div class="card-body">
            <form>
              <div class="form-group row">
                <label for="level_groups" class="col-sm-2 col-form-label">Group</label>
                <div class="col-sm-10">
                  <select class="form-control" id="level_groups" th:size="${authGroups.size()}">
                    <th:block th:each="grp : ${authGroups}">
                      <option th:value="${grp.getLevel()}"
                              th:text="${grp.getName()}"
                              th:with="default_in_group=${user.getLevel() == grp.getLevel()}"
                              th:default_selected="${default_in_group}"
                              th:attrappend="selected=${default_in_group}?selected"></option>
                    </th:block>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="custom_level" class="col-sm-2 col-form-label">
                  Custom Level</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="custom_level"
                         min="0" th:max="${accessUser.getLevel()}"
                         th:value="${user.getLevel()}">
                </div>
              </div>
              <div class="form-group row justify-content-end">
                <button type="button" class="btn btn-outline-primary mr-3"
                        onclick="onLevelSubmit(this)">Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading_tokens">
          <label class="col-form-label col-form-label-lg mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse"
                    data-target="#collapse_tokens"
                    aria-expanded="true" aria-controls="collapse_tokens">
              Revoke Tokens
            </button>
          </label>
        </div>
        <div id="collapse_tokens" class="collapse" data-parent="#accordion_edit"
             th:with="view_name='tokens'"
             th:data="${view_name}"
             th:classappend="${param.edit != null && param.edit.contains(view_name)}?show"
             aria-labelledby="heading_tokens">
          <div class="card-body">
            <form>
              <div class="form-group row">
                <label for="tokens" class="col-sm-2 col-form-label">Active Tokens</label>
                <div class="col-sm-10">
                  <select multiple class="form-control" id="tokens">
                    <th:block th:each="token : ${activeTokens}" th:remove="tag">
                      <option th:value="${token.getToken()}"
                              th:text="${token.getToken()
                              + '@'
                              + token.getAddress().getHostAddress()}"></option>
                    </th:block>
                  </select>
                </div>
              </div>
              <div class="form-group row justify-content-end">
                <button type="button" class="btn btn-outline-primary mr-3"
                        onclick="onTokenRevokeSubmit(this)">Revoke
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading_other">
          <label class="col-form-label col-form-label-lg mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse"
                    data-target="#collapse_other"
                    aria-expanded="true" aria-controls="collapse_other">
              Other
            </button>
          </label>
        </div>
        <div id="collapse_other" class="collapse" data-parent="#accordion_edit"
             th:with="view_name='other'"
             th:data="${view_name}"
             th:classappend="${param.edit != null && param.edit.contains(view_name)}?show"
             aria-labelledby="heading_other">
          <div class="card-body">
            <form>
              <div class="form-group row justify-content-center">
                <button type="button" class="btn btn-lg mr-3 mt-3"
                        id="enable-toggle"
                        th:classappend="${user.isEnabled()}?'btn-outline-warning':'btn-outline-success'"
                        th:value="${user.isEnabled()}?0:1"
                        th:text="${user.isEnabled()}?'Disable':'Enable'"
                        onclick="onEnableToggle(this)"></button>
                <button type="button" class="btn btn-outline-danger btn-lg mt-3"
                        id="deactivate"
                        onclick="onDeactivate(this)">Deactivate
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div layout:fragment="scripts" th:remove="tag">
  <script th:inline="javascript">
    /*<![CDATA[*/
    const username = /*[[${user.getUsername()}]]*/ '';
    /*]]>*/
  </script>
  <script type="text/javascript" src="/secret/account.js"></script>
</div>
</body>

</html>
