<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<head>
  <title>Account Manager</title>
  <style>
  </style>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
  <div id="container">
    <div class="mt-3"></div>
    <div id="success-panel" class="collapse">
      <div class="form-group row justify-content-center">
        <div class="alert alert-success">
          <i class="fa fa-check mt-2 mr-1" aria-hidden="true"></i>
          <label class="mt-2" id="success-message"></label>
        </div>
      </div>
    </div>
    <div id="error-panel" class="collapse">
      <div class="form-group row justify-content-center">
        <div class="alert alert-danger">
          <i class="fa fa-exclamation-triangle mt-2 mr-1" aria-hidden="true"></i>
          <label class="mt-2" id="error-message"></label>
        </div>
      </div>
    </div>
    <div class="input-group mb-3"
         th:if="${!user.getUsername().equalsIgnoreCase(accessUser.getUsername())
         && user.getLevel() >= accessUser.getLevel()}">
      <div class="input-group-prepend">
        <span class="input-group-text" id="verify-pw-descriptor"
              th:text="${'Password for ' + user.getUsername()}"></span>
      </div>
      <input type="password" class="form-control" placeholder="Password"
             aria-label="Username" aria-describedby="verify-pw-descriptor" id="current_password">
    </div>
    <div class="accordion" id="accordion_edit">
      <div class="card">
        <div class="card-header" id="heading_password">
          <label class="col-form-label col-form-label-lg mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse"
                    data-target="#collapse_password"
                    aria-expanded="true" aria-controls="collapse_password">
              Change Password
            </button>
          </label>
        </div>
        <div id="collapse_password" class="collapse" data-parent="#accordion_edit"
             th:with="view_name='password'"
             th:data="${view_name}"
             th:classappend="${param.edit != null && param.edit.contains(view_name)}?show"
             aria-labelledby="heading_password">
          <div class="card-body">
            <form>
              <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="password"
                         placeholder="New Password">
                </div>
              </div>
              <div class="form-group row">
                <label for="confirm_password" class="col-sm-2 col-form-label">Confirm
                  Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="confirm_password"
                         placeholder="Confirm New Password">
                </div>
              </div>
              <div class="form-group row justify-content-end">
                <button type="button" class="btn btn-outline-primary mr-3"
                        onclick="onPasswordChangeSubmit(this)">Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading_level">
          <label class="col-form-label col-form-label-lg mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse"
                    data-target="#collapse_level"
                    aria-expanded="true" aria-controls="collapse_level">
              Change Group/Level
            </button>
          </label>
        </div>
        <div id="collapse_level" class="collapse" data-parent="#accordion_edit"
             th:with="view_name='level'"
             th:data="${view_name}"
             th:classappend="${param.edit != null && param.edit.contains(view_name)}?show"
             aria-labelledby="heading_level">
          <div class="card-body">
            <form>
              <div class="form-group row">
                <label for="level_groups" class="col-sm-2 col-form-label">Group</label>
                <div class="col-sm-10">
                  <select class="form-control" id="level_groups" th:size="${authGroups.size()}">
                    <th:block th:each="grp : ${authGroups}">
                      <option th:value="${grp.getLevel()}"
                              th:text="${grp.getName()}"
                              th:with="default_in_group=${user.getLevel() == grp.getLevel()}"
                              th:default_selected="${default_in_group}"
                              th:attrappend="selected=${default_in_group}?selected"></option>
                    </th:block>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="custom_level" class="col-sm-2 col-form-label">
                  Custom Level</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="custom_level"
                         min="0" th:max="${accessUser.getLevel()}"
                         th:value="${user.getLevel()}">
                </div>
              </div>
              <div class="form-group row justify-content-end">
                <button type="button" class="btn btn-outline-primary mr-3"
                        onclick="onLevelSubmit(this)">Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading_tokens">
          <label class="col-form-label col-form-label-lg mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse"
                    data-target="#collapse_tokens"
                    aria-expanded="true" aria-controls="collapse_tokens">
              Revoke Tokens
            </button>
          </label>
        </div>
        <div id="collapse_tokens" class="collapse" data-parent="#accordion_edit"
             th:with="view_name='tokens'"
             th:data="${view_name}"
             th:classappend="${param.edit != null && param.edit.contains(view_name)}?show"
             aria-labelledby="heading_tokens">
          <div class="card-body">
            <form>
              <div class="form-group row">
                <label for="tokens" class="col-sm-2 col-form-label">Active Tokens</label>
                <div class="col-sm-10">
                  <select multiple class="form-control" id="tokens">
                    <th:block th:each="token : ${activeTokens}" th:remove="tag">
                      <option th:value="${token.getToken()}"
                              th:text="${token.getToken()
                              + '@'
                              + token.getAddress().getHostAddress()}"></option>
                    </th:block>
                  </select>
                </div>
              </div>
              <div class="form-group row justify-content-end">
                <button type="button" class="btn btn-outline-primary mr-3"
                        onclick="onTokenRevokeSubmit(this)">Revoke
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading_other">
          <label class="col-form-label col-form-label-lg mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse"
                    data-target="#collapse_other"
                    aria-expanded="true" aria-controls="collapse_other">
              Other
            </button>
          </label>
        </div>
        <div id="collapse_other" class="collapse" data-parent="#accordion_edit"
             th:with="view_name='other'"
             th:data="${view_name}"
             th:classappend="${param.edit != null && param.edit.contains(view_name)}?show"
             aria-labelledby="heading_other">
          <div class="card-body">
            <form>
              <div class="form-group row justify-content-center">
                <button type="button" class="btn btn-lg mr-3 mt-3"
                        id="enable-toggle"
                        th:classappend="${user.isEnabled()}?'btn-outline-warning':'btn-outline-success'"
                        th:value="${user.isEnabled()}?0:1"
                        th:text="${user.isEnabled()}?'Disable':'Enable'"
                        onclick="onEnableToggle(this)"></button>
                <button type="button" class="btn btn-outline-danger btn-lg mt-3"
                        id="deactivate"
                        onclick="onDeactivate(this)">Deactivate
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div layout:fragment="scripts" th:remove="tag">
  <script th:inline="javascript">
    /*<![CDATA[*/
    const username = /*[[${user.getUsername()}]]*/ '';
    /*]]>*/
  </script>
  <script>
    const j_error_panel = $('#error-panel');
    const j_error_message = $('#error-message');

    const j_success_panel = $('#success-panel');
    const j_success_message = $('#success-message');

    const j_current_pw = $('#current_password');
    const j_new_pw = $('#password');
    const j_new_pwc = $('#confirm_password');

    const j_groups = $('#level_groups');
    const j_level = $('#custom_level');

    const j_tokens = $('#tokens');

    const j_enable_toggle = $('#enable-toggle');
    const j_deactivate = $('#deactivate');

    let loop_guard = false;

    function onPasswordChangeSubmit(self) {
      const current_pw = j_current_pw.val();
      const new_pw = j_new_pw.val();
      const new_pwc = j_new_pwc.val();

      if (new_pw !== new_pwc) {
        setErrorText('Passwords do not match');
      } else {
        _ajax({
          type: 'POST',
          url: `/user/set/password/${username}`,
          data: {
            verificationPassword: current_pw,
            password: new_pw
          },
          success: function (data) {
            setSuccessText('Users password successfully updated!');

            j_current_pw.val('');
            j_new_pw.val('');
            j_new_pwc.val('');
          },
          error: errorHandler
        });
      }
    }

    function onLevelSubmit(self) {
      const current_pw = j_current_pw.val();
      const level = parseInt(j_level.val());

      _ajax({
        type: 'POST',
        url: `/user/set/level/${username}`,
        data: {
          verificationPassword: current_pw,
          level: level
        },
        success: function (data) {
          setSuccessText('Users level successfully updated!');
        },
        error: errorHandler
      });
    }

    function onTokenRevokeSubmit(self) {
      const current_pw = j_current_pw.val();
      const selected = j_tokens.children('option:selected').map((i, v, t) => $(v).val()).toArray();

      if (selected.length < 1) {
        setErrorText('No tokens selected');
        return;
      }

      _ajax({
        type: 'POST',
        url: `/user/tokens/revoke/${username}`,
        data: {
          verificationPassword: current_pw,
          uuids: selected
        },
        success: function (data) {
          setSuccessText('Successfully revoked token(s)!');
          j_tokens.children('option').each((i, v) => {
            const o = $(v);
            if (selected.includes(o.val())) {
              o.remove();
            }
          });
        },
        error: errorHandler
      });
    }

    function onEnableToggle(self) {
      const $this = $(self);
      const current_pw = j_current_pw.val();

      _ajax({
        type: 'POST',
        url: `/user/set/enabled/${username}`,
        data: {
          verificationPassword: current_pw,
          enabled: $this.val() > 0
        },
        success: function (data) {
          const enabled = parseInt(data) > 0;

          setSuccessText(`User ${enabled ? 'Enabled' : 'Disabled'}`);

          $this.val(enabled ? 0 : 1);
          $this.text(enabled ? 'Disable' : 'Enable');
          $this.removeClass(enabled ? 'btn-outline-success' : 'btn-outline-warning')
          .addClass(enabled ? 'btn-outline-warning' : 'btn-outline-success');
        },
        error: errorHandler
      });
    }

    function onDeactivate(self) {
      const current_pw = j_current_pw.val();

      if (typeof j_deactivate.attr('sure') === 'undefined') {
        j_deactivate.text('Are you sure?');
        j_deactivate.attr('sure', 'true');
        return;
      }

      j_deactivate.text('Deactivate');
      j_deactivate.removeAttr('sure');

      _ajax({
        type: 'POST',
        url: `/user/unregister/${username}`,
        data: {
          verificationPassword: current_pw
        },
        success: function (data) {
          $(location).attr('href', '/accounts?success');
        },
        error: errorHandler
      });
    }

    function setErrorText(text, internal) {
      if (typeof internal === 'undefined') {
        setSuccessText('', true);
      }
      if (typeof text !== 'undefined' && text !== '') {
        j_error_panel.collapse('show');
        j_error_message.text(text);
      } else {
        j_error_panel.collapse('hide');
        j_error_message.text('');
      }
    }

    function setSuccessText(text, internal) {
      if (typeof internal === 'undefined') {
        setErrorText('', true);
      }
      if (typeof text !== 'undefined' && text !== '') {
        j_success_panel.collapse('show');
        j_success_message.text(text);
      } else {
        j_success_panel.collapse('hide');
        j_success_message.text('');
      }
    }

    async function _ajax(data, errorHandler) {
      try {
        return await $.ajax(data);
      } catch (e) {
        if (typeof errorHandler !== 'undefined') {
          errorHandler(e);
        }
      }
    }

    function errorHandler(data) {
      if (typeof data !== 'object' || typeof data.responseJSON !== 'object') {
        setErrorText('Unknown server response');
      } else {
        const json = data.responseJSON;
        if (data.status === 406) {
          setErrorText(json.message);
        } else {
          if (typeof json.message === 'undefined' || json.message === '') {
            setErrorText(json.error);
          } else {
            setErrorText(`${json.error}: ${json.message}`);
          }
        }
      }
    }

    $(function () {
      if (typeof username === 'undefined' || username === '') {
        setErrorText('Username field is not defined');
      }

      j_groups.change(function (self) {
        if (!loop_guard) {
          const selected = j_groups.children('option:selected');
          if (typeof selected !== 'undefined') {
            const val = parseInt(selected.attr('value'));
            loop_guard = true;
            try {
              j_level.val(val);
            } finally {
              loop_guard = false;
            }
          }
        }
      });

      j_level.change(function (self) {
        if (!loop_guard) {
          loop_guard = true;
          try {
            j_groups.val(parseInt(j_level.val()));
          } finally {
            loop_guard = false;
          }
        }
      });

      j_deactivate.mouseleave(function () {
        if (typeof j_deactivate.attr('sure') !== 'undefined') {
          j_deactivate.text('Deactivate');
          j_deactivate.removeAttr('sure');
        }
      });

      $("[id*='collapse_']").each(function () {
        const o = $(this);
        const view = o.attr('data');

        o.on('show.bs.collapse', function () {
          const url = new URL(location.href);
          url.searchParams.set('edit', view);
          window.history.pushState({}, null, url.href);
        });

        o.on('hide.bs.collapse', function () {
          const url = new URL(location.href);
          if (url.searchParams.get('edit') === view) {
            url.searchParams.delete('edit');
            window.history.pushState({}, null, url.href);
          }
        });
      });
    });
  </script>
</div>
</body>

</html>
