<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<head>
  <title>Account Manager</title>
  <style>
    .no-border {
      border: 0;
    }
  </style>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
  <div id="container">
    <div class="mt-3"></div>
    <div class="form-group row justify-content-center" th:if="${param.success}">
      <div class="alert alert-success">
        <i class="fa fa-check mt-2 mr-1" aria-hidden="true"></i>
        <label class="mt-2">User successfully deactivated</label>
      </div>
    </div>
    <div class="accordion" id="accordionAccounts">
      <th:block th:each="user : ${usersData}" th:remove="tag">
        <div class="card"
             th:with="id_index=${userStat.index},
             heading_name=${'account_heading_' + userStat.index},
             collapse_name=${'collapse_' + userStat.index}">
          <div class="card-header" th:id="${heading_name}">
            <label class="d-inline-block col-form-label col-form-label-lg"
                   th:text="${user.getUsername()}"></label>
            <button class="btn btn-link d-inline-block float-right my-1"
                    data-toggle="collapse"
                    th:data-target="${'#' + collapse_name}"
                    aria-expanded="false"
                    th:aria-controls="${collapse_name}">
              <i class="fa fa-eye fa-fw fa-lg" aria-hidden="true"></i>
            </button>
          </div>
          <div th:id="${collapse_name}"
               class="collapse"
               th:classappend="${user.getUsername().equalsIgnoreCase(param.view)}?show"
               data-parent="#accordionAccounts"
               th:aria-labelledby="${heading_name}"
               th:username="${user.getUsername()}"
               th:useridx="${id_index}">
            <div class="card-body">
              <form>
                <div class="form-group row" th:with="input_username=${'input_username_' + id_index}">
                  <label th:for="${input_username}" class="col-sm-2 col-form-label">Username</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" th:id="${input_username}" th:value="${user.getUsername()}" readonly>
                  </div>
                </div>
                <div class="form-group row" th:with="input_groups=${'input_groups_' + id_index}">
                  <label th:for="${input_groups}" class="col-sm-2 col-form-label">Group</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" th:id="${input_groups}"
                           th:value="${user.getGroup().getName()}" readonly>
                  </div>
                </div>
                <div class="form-group row" th:with="input_active=${'input_active_' + id_index}">
                  <label th:for="${input_active}" class="col-sm-2 col-form-label">Active</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" th:id="${input_active}"
                           th:value="${user.isEnabled() ? 'YES' : 'NO'}" readonly>
                  </div>
                </div>
                <div class="form-group row"
                     th:with="input_lastlogin=${'input_lastlogin_' + id_index}">
                  <label th:for="${input_lastlogin}" class="col-sm-2 col-form-label">Last
                    Login</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control"
                           th:id="${input_lastlogin}"
                           th:ms="${user.getLastLogin().toEpochMilli()}" readonly>
                  </div>
                </div>
                <div class="form-group row justify-content-end">
                  <a class="btn btn-outline-primary btn-link mx-3"
                     th:href="${'/account/' + user.getUsername()}">Edit</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </th:block>
    </div>
  </div>
</div>
<div layout:fragment="scripts" th:remove="tag">
  <script>
    $(function() {
      // find all collapsing divs and add two events to them
      $("[id*='collapse_']").each(function() {
        const $this = $(this);
        const username = $this.attr('username');

        $this.on('show.bs.collapse', function () {
          const url = new URL(location.href);
          url.searchParams.set('view', username);
          window.history.pushState({}, null, url.href);
        });

        $this.on('hide.bs.collapse', function () {
          const url = new URL(location.href);
          if(url.searchParams.get('view') === username) {
            url.searchParams.delete('view');
            window.history.pushState({}, null, url.href);
          }
        });
      });

      $("[id*='input_lastlogin_']").each(function () {
        const $this = $(this);
        const ms = parseInt($this.attr('ms'));
        if (ms === 0) {
          $this.val('N/A');
        } else {
          const m = moment(ms);
          $this.val(m.format('DD/MM/YYYY HH:mm:ss'));
        }
      });
    });
  </script>
</div>
</body>

</html>
