<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}" lang="en">

<head>
  <title>Events</title>

  <style>
    .date-time-converted {}
    .squeeze {
      width: 1px;
      white-space: nowrap;
    }
  </style>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
  <div id="container">
    <br/>
    <div class="container">
      <div class="row">
        <div class="col-sm p-0 h-50">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#filters" aria-expanded="false" aria-controls="filters">
              <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="col-sm p-0">
          <nav aria-label="Pages of events">
            <ul class="pagination justify-content-end m-0">
              <li class="page-item"
                  th:with="show_prev=${current_page > 1}"
                  th:classappend="${show_prev ? '' : 'disabled'}">
                <a class="page-link"
                   th:href="${'/events/' + (show_prev ? (current_page - 1) : current_page) + url_params}"
                   th:tabindex="${show_prev ? 0 : -1}">
                  <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                  <span class="sr-only">Newer</span>
                </a>
              </li>
              <li class="page-item"
                  th:with="show_next=${current_page < max_pages}"
                  th:classappend="${show_next ? '' : 'disabled'}">
                <a class="page-link"
                   th:href="${'/events/' + (show_next ? (current_page + 1) : current_page) + url_params}"
                   th:tabindex="${show_next ? 0 : -1}">
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                  <span class="sr-only">Older</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="row py-1">
        <div class="py-1 w-100">
          <div class="collapse" id="filters">
            <div class="card card-body">
              <form>
                <div class="form-group row">
                  <label for="level" class="col-sm-2 col-form-label">Level</label>
                  <div class="col-sm-10">
                    <select id="level" class="form-control form-control-sm">
                      <option value="-1" th:attrappend="selected=${current_level == -1}?selected">ALL</option>
                      <th:block th:each="level : ${levels}">
                        <option th:text="${level.getName()}"
                                th:value="${level.getId()}"
                                th:attrappend="selected=${current_level == level.getId()}?selected"></option>
                      </th:block>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="type" class="col-sm-2 col-form-label">Type</label>
                  <div class="col-sm-10">
                    <select id="type" class="form-control form-control-sm">
                      <option value="-1" th:attrappend="selected=${current_type == -1}?selected">ALL</option>
                      <th:block th:each="type : ${types}">
                        <option th:text="${type.getType()}"
                                th:value="${type.getId()}"
                                th:attrappend="selected=${current_type == type.getId()}?selected"></option>
                      </th:block>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="beginDate" class="col-sm-2 col-form-label">Begin date</label>
                  <div class="col-sm-10">
                    <input type="date" id="beginDate" class="form-control form-control-sm" th:ms="${current_beginTime}">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="endDate" class="col-sm-2 col-form-label">End date</label>
                  <div class="col-sm-10">
                    <input type="date" id="endDate" class="form-control form-control-sm" th:ms="${current_endTime}">
                  </div>
                </div>
                <div class="form-group row justify-content-center">
                  <button type="button" id="do-filtered-search" class="btn btn-secondary">Apply</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <td scope="col" class="text-center"><b>Time</b></td>
        <td scope="col" class="text-center"><b>Level</b></td>
        <td scope="col" class="text-center"><b>User</b></td>
        <td scope="col" class="text-center"><b>Type</b></td>
        <td scope="col" class="text-center"><b>Message</b></td>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="event : ${events}">
        <tr>
          <td class="squeeze date-time-converted" th:ms="${event.getTime()}"></td>
          <td class="squeeze" th:text="${event.getLevel().getName().toUpperCase()}"></td>
          <td class="squeeze" th:text="${event.getUsername()}"></td>
          <td class="squeeze" th:text="${event.getType().getType()}"></td>
          <td class="text-right" th:text="${event.getMessage()}"></td>
        </tr>
      </th:block>
      </tbody>
    </table>
    <div class="form-group form-inline justify-content-end">
      <label for="views" class="col-sm-1 col-form-label">Total</label>
      <input type="number" id="views" th:value="${current_view}" min="1" class="form-control form-control-sm col-sm-1">
    </div>
  </div>
  <script>
    $(function() {
      // use cached view number
      const view = $('#views');
      const level = $('#level');
      const type = $('#type');
      const beginDate = $('#beginDate');
      const endDate = $('#endDate');

      const onViewChanged = () => {
        window.localStorage.setItem("view", view.val());

        const url = new URL(location.href);
        url.searchParams.set('view', view.val());
        location.href = url.href;
      };
      view.on('change', onViewChanged);

      const val = window.localStorage.getItem("view");
      if(val !== undefined && val != null && parseInt(val) !== parseInt(view.val())) {
        view.val(val);
        onViewChanged();
      }

      // submit button login
      $('#do-filtered-search').click(function() {
        // fuck u js devs
        const url = new URL(location.href);
        const param = (name, val) => {
          if(val !== undefined && val != null && val !== '' && parseInt(val) !== -1)
            url.searchParams.set(name, val);
          else
            url.searchParams.delete(name);
        };

        param('level', level.val());
        param('type', type.val());
        param('beginDate', beginDate.val());
        param('endDate', endDate.val());

        location.href = url.href;
      });

      [beginDate, endDate].forEach(o => {
        const ms = parseInt(o.attr('ms'));
        if(ms !== -1) {
          const d = new Date(ms);
          d.setMinutes(d.getMinutes() - d.getTimezoneOffset());
          o.val(d.toJSON().slice(0, 10)); // :clown:
        }
      });

      // replace time in ms with formatted date
      $('.date-time-converted').each(function() {
        const e = $(this);
        const m = moment(parseInt(e.attr('ms')));
        e.html(m.format('DD/MM/YYYY HH:mm:ss'));
      });
    });
  </script>
</div>
</body>

</html>
