<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<head>
    <title>Account Manager</title>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
    <div id="container">
        <table class="table">
            <thead>
                <tr>
                    <td scope="col">Username</td>
                    <td scope="col">Enabled</td>
                    <td scope="col">Groups</td>
                    <td scope="col">Tokens</td>
                </tr>
            </thead>
            <tbody>
            <th:block th:each="user : ${usersData}">
                <tr>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.enabled}"></td>
                    <td>
                        <table class="table">
                            <thead>
                                <th:block th:each="group : ${user.groups}">
                                    <tr>
                                        <td th:text="${group.name()}"></td>
                                    </tr>
                                </th:block>
                            </thead>
                        </table>
                    </td>
                    <td>
                        <table class="table">
                            <thead>
                            <th:block th:each="token : ${user.tokens}">
                                <tr>
                                    <td th:text="${token.token}"></td>
                                    <td th:text="${token.address.getHostAddress()}"></td>
                                    <td th:text="${#dates.format(token.expiresOn, 'dd-MM-yyyy HH:mm:ss')}"></td>
                                </tr>
                            </th:block>
                            </thead>
                        </table>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-warning"
                                th:data1="${user.username}"
                                th:onclick="javascript:expireTokens(this.getAttribute('data1'))">Expire Tokens</button>
                        <button type="submit" class="btn btn-danger"
                                th:data1="${user.username}"
                                th:onclick="javascript:unregister(this.getAttribute('data1'))">Unregister</button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <div class="form-group">
            <label for="usernameInput">Username</label>
            <input type="text" class="form-control" id="usernameInput">
        </div>
        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" id="passwordInput">
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label><input type="checkbox" checked id="enabledInput">Enabled</label>
            </div>
        </div>
        <div class="form-group">
            <label for="groupsInput">Groups</label>
            <select multiple class="form-control" id="groupsInput">
                <option th:block th:each="group : ${authGroups}" th:value="${group.name()}" th:text="${group.name()}"></option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" onclick="register()">Register</button>
        </div>
    </div>
    <script src="/js/jquery-min-3.3.1.js"></script>
    <script>
        function expireTokens(username) {
            (async (un) => {
                return await $.ajax({
                    type: 'GET',
                    url: `user/tokens/${un}/expire`
                })
            })(username).then(result => {
                location.reload(false);
            });
        }

        function unregister(username) {
            (async (un) => {
                return await $.ajax({
                    type: 'GET',
                    url: `user/unregister/${un}`
                })
            })(username).then(result => {
                location.reload(false);
            });
        }

        function register() {
            (async (d) => {
                try {
                    return await $.ajax({
                        type: 'POST',
                        url: 'user/register',
                        data: JSON.stringify(d),
                        contentType: 'application/json',
                        dataType: 'json',
                    })
                } catch (e) {
                    console.log(e);
                }
            })({
                username: $('#usernameInput').val(),
                password: $('#passwordInput').val(),
                groups: $('#groupsInput').val(),
                enabled: $('#enabledInput').prop('checked'),
            }).then(result => {
                location.reload(false);
            })
        }
    </script>
</div>
</body>

</html>
