<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<head>
  <title>Overview</title>
  <style type="text/css">
    html, body {
      height: 100%;
    }

    #map {
      width: 100%;
      height: auto;
    }
    
    #coordinate-panel {
      position: fixed;
      bottom: 0;
      left: 0;
    }
    
    #settings-panel {
      position: fixed;
      width: 512px;
      top: 56px;
      left: 0;
    }
  </style>
</head>

<body>
<div layout:fragment="body">
  <div id="map"></div>
  <div id="settings-panel">
    <div class="p-2">
      <div class="row m-2">
        <button class="btn btn-primary" type="button"
                data-toggle="collapse" data-target="#settings-collapse"
                aria-expanded="false" aria-controls="settings-collapse">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </button>
        <button class="btn btn-success ml-1" type="button" onclick="onSubmit(this)"
                data-toggle="tooltip" data-placement="top" title="Search">
          <i class="fa fa-crosshairs" aria-hidden="true"></i>
        </button>
      </div>
      <div class="collapse ml-2 mt-1" id="settings-collapse">
        <div class="card card-body">
          <div class="form-group row">
            <label for="server" class="col-sm-4 col-form-label">Server</label>
            <div class="col-sm-8">
              <select id="server" class="form-control">
                <option th:block th:each="server : ${servers}"
                        th:value="${server}"
                        th:text="${server}"
                        th:attrappend="selected=${serverStat.index == 0}?selected"></option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="dimension" class="col-sm-4 col-form-label">Dimension</label>
            <div class="col-sm-8">
              <select id="dimension" class="form-control">
                <option th:block th:each="dimension : ${dimensions}"
                        th:value="${dimension.getOrdinal()}"
                        th:text="${dimension.name}"
                        th:attrappend="selected=${dimensionStat.index == 0}?selected"></option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="delta" class="col-sm-4 col-form-label">Minimum Delta</label>
            <div class="col-sm-8">
              <input type="number" id="delta" value="0" min="0" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="hits" class="col-sm-4 col-form-label">Minimum Hits</label>
            <div class="col-sm-8">
              <input type="number" id="hits" value="1" min="0" class="form-control">
            </div>
          </div>
          <div class="form-group row">
           <label for="range" class="col-sm-4 col-form-label">Grouping Range</label>
            <div class="col-sm-8">
              <input type="number" id="range" value="1000" min="0" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="startDate" class="col-sm-4 col-form-label">From</label>
            <div class="col-sm-8">
              <input type="date" id="startDate" class="form-control">
            </div>
          </div>
          <div class="form-group row mb-0">
            <label for="endDate" class="col-sm-4 col-form-label">To</label>
            <div class="col-sm-8">
              <input type="date" id="endDate" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="coordinate-panel">
    <div class="input-group p-2">
      <input type="text" class="form-control form-control-sm" id="coord-selected" readonly
             data-toggle="tooltip" data-placement="top" title="Selected XZ coordinate">
      <div class="input-group-append">
        <button class="btn btn-sm btn-outline-secondary" type="button"
                onclick="onCoordinateScale(this, 0)"
                data-toggle="tooltip" data-placement="top" title="Divide selected by 8">1/8x
        </button>
        <button class="btn btn-sm btn-outline-secondary" type="button"
                onclick="onCoordinateScale(this, 1)"
                data-toggle="tooltip" data-placement="top" title="Multiply selected by 8">8x
        </button>
        <button class="btn btn-sm btn-outline-secondary" type="button"
                onclick="onCoordinateReset(this)"
                data-toggle="tooltip" data-placement="top" title="Reset coordinate">
          <i class="fa fa-undo" aria-hidden="true"></i>
        </button>
        <button class="btn btn-sm btn-outline-secondary" type="button"
                onclick="onCoordinateCopy(this)"
                data-toggle="tooltip" data-placement="top" title="Copy to clipboard">
          <i class="fa fa-clipboard" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div layout:fragment="scripts" th:remove="tag">
  <script type="text/javascript" src="/webjars/plotly.js/dist/plotly.min.js"></script>
  <script type="text/javascript" src="/webjars/sockjs-client/dist/sockjs.min.js"></script>
  <script type="text/javascript" src="/webjars/stomp-websocket/lib/stomp.min.js"></script>
  <script type="text/javascript" src="/secret/graph.js"></script>
</div>
</body>

</html>
