<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<head>
    <title>Overview</title>
    <style type="text/css">
        #map {
            position: fixed;
            width: auto;
            height: 100%;
            margin: 0;
            padding: 0;
            left: 0;
            right: 0;
            top: auto;
            bottom: auto;
        }
        #options {
            position: fixed;
            height: 45%;
            width: 15%;
            left: 20px;
        }
    </style>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
    <div id="container">
        <div id="map"></div>
        <div id="options" class="form-group">
            <label for="server">Server:</label>
            <select id="server" class="form-control">
                <option th:block th:each="server : ${servers}" th:value="${server}" th:text="${server}"></option>
            </select>

            <label for="dimension">Dimension:</label>
            <select id="dimension" class="form-control">
                <option value="any">Any</option>
                <option th:block th:each="dimension : ${dimensions}" th:value="${dimension.ordinal}" th:text="${dimension.name}"></option>
            </select>

            <label for="delta">Minimum Delta:</label>
            <input type="number" id="delta" value="0" min="0" class="form-control">

            <label for="hits">Minimum Hits:</label>
            <input type="number" id="hits" value="1" min="0" class="form-control">

            <label for="range">Grouping Range:</label>
            <input type="number" id="range" value="1000" min="0" class="form-control">

            <label for="startDate">From:</label>
            <input type="date" id="startDate" class="form-control">

            <label for="endDate">To:</label>
            <input type="date" id="endDate" class="form-control">

            <label for="submit"></label>
            <button type="button" id="submit" class="form-control">Submit</button>

            <label for="selectedPos">Selected:</label>
            <input type="text" id="selectedPos" min="0" class="form-control">
        </div>
    </div>
    <!--script src="https://cdn.plot.ly/plotly-latest.min.js"></script-->
    <script type="text/javascript" th:src="@{/secret/plotly.min.js}"></script>
    <script type="text/javascript" th:src="@{/secret/graph.js}"></script>
</div>
</body>

</html>
